@import "styles/_unit.scss";

.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  min-height: rem(72);
  z-index: 999;
  background: #fff;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

  @media screen and (max-width: rem(768)) {
    &.active {
      background: #fff;
    }

    position: fixed;
    min-height: rem(59);
    background: transparent;
    filter: none;

    .desktop_topbar {
      display: none;
    }
  }

  // Desktop Topbar
  .desktop_topbar {
    padding: rem(17) 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;

    .desktop_topbar_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .desktop_logo {
        width: rem(150);
      }

      .contact_panel {
        display: flex;
        align-items: center;
        min-width: rem(100);

        a {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-weight: 500;
            font-size: rem(18);
            line-height: rem(14);
            color: #000;
            margin-top: rem(10);
            margin-left: rem(8);
          }
        }

        span {
          margin-bottom: rem(10) !important;
        }
      }

      .topbar_links {
        .topbar_link {
          font-family: "SF Pro Display";
          font-weight: 500;
          font-size: rem(18);
          line-height: rem(20);
          color: #252c32;

          &:not(:last-child) {
            margin-right: rem(40);
          }
        }
      }

      .register_btn {
        font-family: "SF Pro Display";
        font-weight: 400;
        font-size: rem(17);
        line-height: rem(22);
        text-transform: none;
        color: #fff;
        margin-left: rem(26);
        padding: rem(8) rem(20);
        background: #1b5bf7;
        border-radius: rem(6);
        text-align: center;
        padding: rem(9) rem(20);
      }
    }
  }

  // Mobile Topbar
  .mobile_topbar {
    @media screen and (max-width: rem(768)) {
      display: block;
    }

    display: none;
    padding: rem(16) 0;
    min-height: rem(60);

    .mobile_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_btn {
        border: none;
        background: none;
      }
    }
  }
}

// Mobile Drawer
.mobile_header {
  &_drawer {
    display: flex;
    flex-direction: column;
    min-width: rem(325);
    height: 100%;
  }

  &_brand {
    display: flex;
    padding: rem(19.5) rem(16);

    button {
      border: none;
      background: none;
      margin-right: rem(53);

      svg {
        display: block;
      }
    }
  }

  &_drawer_logo {
    display: block;
  }

  &_links {
    display: flex;
    flex-direction: column;
    margin-top: rem(40);
  }

  &_link {
    font-weight: 400;
    font-size: rem(17);
    line-height: rem(22);
    padding: rem(17) rem(18);
    color: #000;
    box-shadow: inset 0px -1px 0px #e5e9eb;
  }

  &_link:last-child {
    box-shadow: none;
  }

  &_phone {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: rem(16) rem(21);
    box-shadow: inset 0px 1px 0px #e5e9eb;

    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(44);
      height: rem(44);
      margin-right: rem(16);
      border-radius: 50%;
      background-color: #1b5bf7;
    }

    &_number {
      font-family: "SF Pro Display";
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
      color: #525252;
    }
  }
}
.logoFirst {
  font-size: 30px;
  line-height: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}
.logoSecond {
  font-size: 30px;
  line-height: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1b5bf7; 
}
.desktop_contact {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  
  &_item {
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(20);
  }
}