@import 'styles/_unit.scss';

.courses {
  width: 100%;
  padding: rem(60) 0;
  background: #f3f7ff;

  &_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: rem(24);
    row-gap: rem(28);

    &_item {
      padding: rem(8) rem(12) rem(24);
      border-radius: 6px;
      background: #ffffff;
      cursor: pointer;
      position: relative;
      .badge {
        padding: 6px 12px;
        background: #f3f7ff;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        position: absolute;
        top: 14px;
        right: 18px;
      }
      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
    }

    &_img {
      border-radius: rem(6);
      margin-bottom: rem(24);
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }

    &_context {
      min-height: rem(188);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: rem(24);
        line-height: rem(32);
        color: #18191f;
        margin: 0 0 rem(12);
      }

      p {
        font-family: 'SF Pro Display';
        font-size: rem(16);
        line-height: rem(24);
        color: #5b6871;
        margin: 0 0 rem(24);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
        height: 96px;
      }

      .register_btn {
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        color: #fff !important;
        padding: 8px;
        background: #1b5bf7 !important;
        border-radius: 4px;
        text-align: center;
      }

      span {
        display: block;
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        color: #1b5bf7;
      }
    }
  }

  @media screen and (max-width: rem(992)) {
    &_content {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: rem(20);

      &_img {
        margin-bottom: rem(20);
      }

      &_context {
        min-height: auto;
        h4 {
          margin-bottom: rem(10);
        }

        p {
          margin-bottom: rem(20);
        }
      }
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(32) 0;

    &_content {
      gap: rem(16);

      &_item {
        padding: rem(12) rem(12) rem(20);
      }

      &_img {
        margin-bottom: rem(16);
      }

      &_context {
        h4 {
          margin-bottom: rem(8);
        }

        p {
          font-size: rem(14);
          margin-bottom: rem(16);
        }
      }
    }
  }
}
